.option {
  border: 2px solid aquamarine;
  padding: 10px;
  margin: 7px;
  border-radius: 8px;
  cursor: pointer;
}
.option-input {
  display: flex;
  align-items: center;
}
input {
  margin-right: 10px;
}
.correct {
  background-color: green;
}
.wrong {
  background-color: red;
}
