.brand-name {
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.link a {
  text-decoration: none;
  margin-right: 25px;
  font-weight: 600;
}
